.add-to-cart-button {
  background-color: #32009a;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #5a00ff;
}

.add-to-cart-button.added {
  background-color: #62a362;
  transform: scale(1.1);
}

.add-to-cart-button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}
