.cartBtn {
  background-color: #32009a; /* Mörklila bakgrund */
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  bottom: 20px; /* Flyttar knappen till botten */
  right: 10px;
  z-index: 1000;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.cartBtn:hover {
  background-color: #ab9dc8;
  opacity: 0.9;
}

.cartBtn svg {
  color: white;
  width: 24px;
  height: 24px;
}
