.favoriteBtn.empty,
.favoriteBtn.filled {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favoriteBtn.empty .heart-empty,
.favoriteBtn.filled .heart-filled {
  width: 30px; /* Minska ikonens storlek */
  height: 30px; /* Minska ikonens storlek */
}
.favoriteBtn.empty .heart-empty {
  color: transparent;
  stroke: #202020;
  fill: white;
  stroke-width: 20px;
}

.favoriteBtn.filled .heart-filled {
  color: black;
  fill: black;
}
