.favoriteBtn {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.favoriteBtn .heart-empty,
.favoriteBtn .heart-filled {
  width: 30px;
  height: 21px;
  overflow: visible;
}

.favoriteBtn .heart-empty {
  color: transparent;
  stroke: #030303;
  fill: rgb(255, 255, 255);
  stroke-width: 45px;
}

.favoriteBtn .heart-filled {
  color: black;
  fill: black;
}
