@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.Navbar {
  position: fixed; /* Ändrad från absolute till fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Sätter navbaren över allt annat */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: x-large;
  text-decoration: none; /* Tar bort understrykningen */
  color: inherit;
}

.buttons-right {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 5px; /* Mellanrum mellan knapparna */
}

/* Se till att knapparna inte krymper bort */
.search-button,
.favoriteBtn {
  flex-shrink: 0;
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu-content.open {
  transform: translateX(0);
}

.menu-content .close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-content li {
  padding: 12px 0;
  font-size: 18px;
}

.menu-content li hr {
  border: 0;
  height: 1px;
  background: gray;
  margin: 8px 0;
}

.menu-content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu-content a:hover {
  color: #007bff;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: grey;
  border: none;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 46px;
  height: 40px;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #32009a;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .menu-button {
    position: absolute;
    left: 20px;
  }

  .save-button {
    position: absolute;
    right: 20px;
  }
}
