* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.product-detail-img {
  display: flex;
  padding: 1rem;
  margin: 2rem 0 0.5rem;
  text-align: center;
  align-items: center;
  height: 350px;
  width: 250px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
  justify-content: center;
}

.product-detail-card {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: flex-start;
  max-width: 250px;
  gap: 10px;

  .ratings {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .price {
    font-weight: bold;
    font-size: 24px;
  }
}

@media (min-width: 1056px) {
}
