* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
  flex-wrap: wrap;
  text-align: center;
  max-width: 120px;
}

.product-small-img {
  display: flex;
  padding: 1rem;
  margin: 0 0 0.5rem;
  text-align: center;
  align-items: center;
  height: 210px;
  width: 160px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
  justify-content: center;
}

.product-card-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding: 0;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
}

.product-card-small-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-to-cart-button {
  background-color: #32009a;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #22006d;
}


  h2 {
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
    flex-wrap: wrap;
    text-align: center;
    max-width: 250px;

    .product-img {
      width: 100%;
    }
  }
}

.product-small-img:hover {
  transition: transform 0.5s ease;
}

.product-small-img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .product-small-img {
    height: 400px;
    width: 290px;
    margin: 2rem;
  }
}
