* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.product-detail-img {
  display: flex;
  padding: 1rem;
  margin: 0;
  text-align: center;
  align-items: center;
  height: auto;
  width: 280px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
  justify-content: center;
}

h2.title {
  overflow: visible;
  white-space: normal;
  text-align: left;
}

.product-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  gap: 20px;
  position: relative;
}

.ratings {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.price {
  font-weight: bold;
  font-size: 24px;
}

.product-detail-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0px 30px 30px;
  align-content: center;
  justify-content: flex-end;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
}

.favorite-button-2 {
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.favorite-button-2 svg {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  transition: fill 0.2s ease-in-out;
}

.favorite-button-2.filled svg {
  fill: black;
}

@media (min-width: 768px) {
  .product-detail-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
  }

  .product-detail-img {
    width: 350px;
  }

  h2.title {
    max-width: 800px;
  }
}
