.product-card-buy {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #ddd;
}

.product-cart-img {
  width: 70px;
  height: auto;
  border-radius: 5px;
  margin-left: 25px;
}

.product-cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 15px;
}

.product-cart-description h3 {
  margin: 0;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 500px;
}

.product-cart-description p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.cart-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity-btn {
  background-color: #ddd;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-btn:hover {
  background-color: #bbb;
}

.deleteBtn {
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

.total-price {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.cartPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
